{% extends 'home/index.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container" style="padding-top: 5em">
  <div class="col">
    <div class="container" style="background-color: rgba(1, 0, 0, 0.2)">
      <div class="content-section">
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <!-- this is a required line for added security -->
          <fieldset class="form-group">
            <legend class="border-bottom mb-1">Add a Category</legend>
            {{ form.media }}
            {{ form|crispy }}
          </fieldset>

          <div class="form-group">
            <button class="btn btn-success" type="submit">Add</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


{% endblock content %}
