{% extends 'home/index.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<!-- Bootstrap Modal Forms -->
<script src="{% static 'assets/js/bootstrap.js' %}"></script>
<script src="{% static 'assets/js/jquery.js' %}"></script>
<script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>

<div class="card col-lg-12 p-1">
      <div>
        <h5 class="text-center mr-auto col-12 col-sm-12 elevation-3 p-2">
          <a class="text text-sm float-left" href="{% url 'blogs' %}" title="Back to Blogs">   Back to Blogs
          </a>
          {{ object.title }}
          <small class="col-4 col-sm-6"><a href="{% url 'category' object.category %}">{{object.category}}</a></small>
        </h5>
        <div class="col-md-4 bg-gray" style="float: right; border-radius: 20px">
          {% if object.author == user %}
            <a class="btn btn-success btn-sm mr-1 fa fa-edit" href="{% url 'post-update' object.slug %}" title="Edit Post">
            </a>
            <a class="btn btn-danger btn-sm mr-1 fa fa-trash" href="{% url 'post-delete' object.slug %}" title="Delete Post">
            </a>
          {% else %}
            {% if user.is_authenticated %}
              <a class="mr-1" href="{% url 'user-posts' object.author %}">
                <u>{{ object.author }}'s posts</u>
              </a>
            {% endif %}
          {% endif %}

          <!--post.date_posted|date:"F, d, Y" == format without timestamp. -->

          {% if object.author == user %}
            <!-- Number of likes shown in a button form // this does not trigger anything as the author cannot like its own post -->
            <button class="btn-sm btn-disabled fas fa-thumbs-up m-2"><i class="text text-primary text-sm ml-1" title="Can't like your own post. ;)" style="float: right">{{object.total_likes}}</i></button>
          {% else %}
            {% if user.is_authenticated %}
              <!-- Like button -->
              <form action="{% url 'like_post' object.pk %}" method="POST" style="float: right">
                {% csrf_token %}
                {% if post.liked %}
                  <button type="submit" name="post_id" value="{{object.id}}" class="btn btn-outline-primary fas fa-thumbs-up m-2" >
                    <i class="text text-white text-sm ml-1" >{{object.total_likes}}</i>
                  </button>
                {% else %}
                  <button type="submit" name="post_id" value="{{object.id}}" class="btn btn-primary fa fa-thumbs-up m-2">
                    <i class="text text-white text-sm ml-1" >{{object.total_likes}}</i>
                  </button>
                {% endif %} <!-- if post.liked -->
              </form>
            {% endif %} <!-- if user.is_authenticated -->
          {% endif %}
        </div>
      </div>
    <!--content-->
    <div style=" padding: 1em; background: #fbeee1;">{{ object.content|safe }}</div>
    {% if object.date_modified %}
      <small class="text-muted text-sm ml-auto"
        ><i>last modified: {{ object.date_modified }}</i>
      </small>
    {% endif %}
    <!-- FB like&share button -->
    <div class="fb-like" data-href="http://loveteppypythonanywhere.com/blogs/{{object.slug}}/" data-width="" data-layout="button_count" data-action="like" data-size="small" data-share="true"></div>
    <div class="fb-comments" data-href="http://loveteppy.pythonanywhere.com/" data-width="100%" data-numposts="15"></div>
</div>

<!-- This is important for dynamic fb-comments (separate comments per article)-->
<script>
    $(document).ready( function() { $(".fb-comments").attr("data-href", window.location.href.split('?')[0]); });
</script>

{% endblock content %}

